.mainChatContainer{
    flex:2.8;
}
.userProfile{

    width: 45px;
    height: 45px;
    border-radius: 50%;

}

.chatUserProfile{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.msgContainer{

    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;

}

.msginput{
    width: 60pc;
    /* margin-right: 280px; */
    /* height: 6vh; */
    margin-top: 10px;
    padding: 10px;
        
    border: none;
    margin-top: 0px;
    color: rgb(0, 0, 0);
}
.msgSenderContainer{
    border: 1px solid black;
    width: 70pc;
    margin-top: 20px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 10px;
    color: black;
}
.msgButton{

    width: 130px;
    height: 38px;
    margin-top: 11px;
    border: none;
    color: aliceblue;
    background-color: rgb(33, 124, 124);
    border-radius: 10px;
}

.msg{
       width: 40% ;
       margin-top:10px;
       display: flex;
       align-items: center;
       margin-left:30px;
       background-color: rgb(241,243,241) ;
       padding:5px;
       margin-left:30px;
       border-radius:10px;

}
.MSGG{
    color: white;
    background: rgb(120,64,255);
background: linear-gradient(0deg, rgba(120,64,255,1) 15%, rgba(175,45,255,1) 74%);
}