.home{
    background-color: var(--secondary-color);
}

.ComponentContainer{
    width: 99vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Leftbar,
.rightbar {
    /* Define the desired width for the left and right bars */
    position: sticky;
    top: 8vh;
    border-radius: 15px;
    height: 92vh;
    margin: 0 1vw;
    overflow-y: auto;
    
}

.Leftbar::-webkit-scrollbar, .rightbar::-webkit-scrollbar {
    display: none;
}