.Leftbar{
    width: 25vw;
}

.NotificationsContainer.Activities{
    height: max-content;
}

.NotificationsContainer{
    height: 40vh;
}

.ExploreImageContainer{
    height: 90%;
}

.ScrollContainerDisNone{
    overflow-y: scroll;
    height: max-content;
}
.ScrollContainerDisNone2{
    max-height:60vh ;
    overflow-y: scroll;
    height: 40vh;
}

.ScrollContainerDisNone::-webkit-scrollbar{
    display: none;
}

.notificationItem{
    display: flex;
    margin: 0px 5px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.notificationimg{
    width:37px;
    height: 37px;
    border-radius: 50%;
    margin-left: 10px;
}

.followinguserimage{
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

.ExploreImageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 10px; */
    justify-content: space-around;
}

.likeimage{
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.exploreimage{
    width: 30%;
    margin-left: 4px;
    height: 50%;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 6px;
}

.iiconn{
    background-color: var(--secondary-color);
    width:2.5pc;
    height: 2.5pc;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.rowww1{
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    justify-content: space-around;
}