.PostContainer{
    padding: 1vh 2vw;
    margin: 2vh auto;
    user-select: none;
}

.SubPostContainer{
    width: 100%;
    background-color:var(--primary-color);
    border-radius: 10px;
}

.PostImage{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
}
.PostImages{
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.iconsforPost{
    width: 20px;
    
}

.moreicons{
    width: 20px;
    margin-left: 380px;
}

.commentinput{
    width: 24pc;
    margin: 0 10px;
    border: none;


}
.addCommentbtn{
    padding: 9px;
    border: none;
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
}

.MoreOptionsMenu {
    position:inherit;
    top: 30px; /* Adjust the positioning based on your layout */
    right: 10px; /* Adjust the positioning based on your layout */
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .MoreOptionsMenu p {
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
  }
  
  .CommentsBoxScroll::-webkit-scrollbar{
    width: 0px;
}