.LandingPage {
    opacity: 0; /* Set initial opacity to 0 */
    animation: LandingPageOpacity 1s ease 0s 1 normal forwards;
  }

  @keyframes LandingPageOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    
  }