.rightbar{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightcontainer{
    width: 25vw;
    height: 50vh;
    overflow-y: scroll;
    background-color: var(--primary-color);
    margin: 1vh auto;
    border-radius: 15px;
}

.rightcontainer2{
    width: 20pc;
    /* height: 60vh; */
    height: max-content;
    background-color: var(--primary-color);
    margin-top: 2vh;
    border-radius: 15px;
    overflow: hidden;
    /* overflow-y: scroll; */
  
}

.adsimg{
    width: 130px;
    height: 80px;
    object-fit: cover;
}

.adsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10px 0;
    padding: 10px;
}

.Profileimage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.addfriend{
    width: 20px;
    height: 20px
    
}

/* rightbar.css */

.adsContainer {
    margin-top: 20px;
  }
  
  .ad {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .adsimg {
    height: 15vh;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .rightcontainer {
    margin-bottom: 20px;
  }
  
  /* Adjust other styles as needed */
  