.loading-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .shutter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    animation: rotate 3s linear infinite forwards; /* Rotate animation for the shutter */
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .Fotoflask {
    position: absolute;
    top: 50%;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .FotoflaskWhite{
    width: auto;
    overflow: hidden;
  }
  
  .hide-shutter {
    animation: myAnim 1.5s ease 0s 1 normal forwards;
    transition: opacity 0.5s linear;
  }

  @keyframes myAnim {
    0% {
      
      transform: translateX(0) rotate(0deg) scale(1);
    }
  
    100% {
      
      transform: translateX(-5vw) rotate(30deg) scale(0.75);
    }
  }
  
  .hide-shutter + .Fotoflask {
    opacity: 1;
  }
  

  
  .Foto,
  .Flask {
    
    top: 38.5vh;
  }

  .Foto{
    position: absolute;
    left: 27vw;
    animation: foto 1s ease 0s 1 normal forwards;
  }

  .Flask{
    position: absolute;
    right: 28vw;
    animation: falsk 1s ease 0s 1 normal forwards;
  }

@keyframes foto {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes falsk {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}