.AdminMainContainer{
    padding: 1px 0 0px 0px;
    display: flex;
    background-color: var(--secondary-color);
    flex-direction: row;
}
.MainComponentAdmin{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.AdminsideBar{
    width: 5vw;
    position: sticky;
    top: 8vh;
    height: 92vh;
    background-color: var(--primary-color);
    border-radius: 0 5px 5px 0;
}

.AdminsideBar:hover{
    width: 15vw;
}

.adminContainer{
    user-select: none;
    display: flex;
    width: 80vw;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    height: 70vh;
    margin: 10px;
}

.scroll{
    overflow-y: scroll;
    height: 100%;

}

.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.scroll::-webkit-scrollbar-thumb {
    background: #888; 
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



.userHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userDetails{
    display: none;
}

.show>.userDetails{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    align-items: flex-start;
}

.user{
    border-bottom: 1px solid black;

}

.user:hover{
    cursor: pointer;
}

.userDetail{
    margin: 5px 0;
}

.Adminpost{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.AdminPostImage{
    width: 100px;
    object-fit: scale-down;
    border: none;
    /* outline: none; */
    height: 100px;
    margin: 10px;
}

.AdminpostDetails{
    display: none;
}

.show .AdminpostDetails{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    align-items: flex-start;
}

.dropdown-content>.delete:hover{
    
    background-color: red;
}   


.AdminSmallCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 25vh;
    height: 25vh;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}