.OrganizationProfileContainer{
    background-color: var(--secondary-color);
}

.OrganizationProfileContainer>.mainNavbar{
    border-radius: 0;
    border-bottom: 1px solid var(--tertiary-color);
}

.OrganizationSubContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 92vh;
}

.OrganizationLeftContainer{
    width: 5vw;
    border-radius: 0 0 5px 0;
    height: 100%;
    float: left;
    background-color: var(--primary-color);
    position: fixed;
}

.OrganizationLeftContainer:hover{
    width: 10vw;
}

.OrganizationRightContainer{
    width: 95vw;
    height: 100%;
    float: right;
    background-color: var(--secondary-color);
}