body {
    margin: 0;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .section {
    position: relative;
    height: 100vh;
  }
  #about {
    background-color: black;
  }
  #work {
    background-color: yellow;
  }
  #contact {
    background-color: red;
  }
  
  .section-work {
    background-color: gold;
    border: 1px solid white;
    height: 100vh;
    width: 100vw;
  }
  #trigger {
    position: absolute;
    top: 0;
    right: -200%;
  }
  #wrapper-work {
    width: 300vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
  }